<template>
<div>

<!-- slide -->
  <v-carousel
    cycle
    height="400"
    hide-delimiter-background
    show-arrows-on-hover
  >
    <v-carousel-item
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      reverse-transition="fade-transition"
      transition="fade-transition"
    ></v-carousel-item>
  </v-carousel>
  <v-parallax src="https://lh3.googleusercontent.com/NQkhCk55mlvfmacVeQqX0xDpgivH_pJfZgvfkwovSiV-5Rd4kcXaBGAlq9lOW6SybwbK6CDD4MwqpGTvbqKr=w1920" height="auto"> 
  <v-container>
      <div class="movies">
      <h1 class="text-center font " style=" margin-top: 10px;">NOW SHOWING MOVIES</h1>
    <!--  card -->

        <v-row style="
    background-color: #000000e3;
">

            <v-col
              v-for="data in datas.length"
              :key="data"
              class="d-flex child-flex"
              cols="4"
                md="3" > 
                <router-link :to="{ name: 'movieDetail', params: { Id_movie: datas[data-1].id_m }}">
             <v-hover v-slot:default="{ hover }">
                <v-card
                :elevation="hover ? 12 : 2"
                class="mx-auto c-movie"      
                :max-width="hover ? 400 : 260"
                
                >
    <div>
        <v-img
        class="white--text"
        height="320px"
        :src="datas[data-1].image"
        >
        </v-img>
        <div class="ribbon text-center" style="background: linear-gradient(to right, rgb(121, 0, 0), rgb(162, 36, 40));
        color:#ffffff; ">
        <!-- <button @click="newItem">Review</button> -->
        <span>Review</span>
        </div>
</div>

    <v-card-text>
      <h3 class="text-center">{{datas[data-1].name}}</h3>
      <span class="text--primary">
        <span>Release date : {{datas[data-1].release_date}} </span><br> 
        <span>Rate : {{datas[data-1].rate}} </span><br>
        <span>Time {{datas[data-1].time}} Mins </span>
      </span>
    </v-card-text>
  </v-card>
  </v-hover>
</router-link>
    </v-col>
   
    </v-row>

</div>
  </v-container>
    </v-parallax>
</div>
</template>



<script>
import { EventBus } from '@/EventBus'
  export default {
    data () {
      return {
        items: [
          {
            src: '/movie/t1.jpg',
          },
          {
            src: '/movie/t2.jpg',
          },
          {
            src: '/movie/t3.jpg',
          }, 
        ],
       
    datas: [],
      }
    },
    created(){
      this.getdata()
    },
    mounted () {
    EventBus.$on('getData', this.getdata) 
    },

    methods: {
   
    async getdata(){
        try {
          var {data} = await this.axios.get('http://localhost/api/show.php')
          console.log(data)
          this.datas = data
        } catch (error) {
          console.log(error)
        }
      }
  }
  }
</script>






<style>
.movies{
   margin-left: 50px;
   margin-right: 50px;

}
.v-application a {
    /* color: #1976d2; */
    text-decoration: none;
}

</style>