<template>
<div>
     <!-- <h1 v-if="show">{{ data }}</h1>
     <h1 v-if="show2">{{ data2 }}</h1>
     <h1 v-if="show3">{{ data3 }}</h1>


     <div class="text-center">
         <v-btn outline color="primary" @click="show =!show">SAY HI</v-btn>
         <v-btn outline color="primary" @click="show2 =!show2">NAME</v-btn>
         <v-btn outline color="primary" @click="show3 =!show3">Button</v-btn>
     </div> -->
     
     <!-- <ul>
         <li v-for="(item,index) in items" :key="index">
            {{index}} {{item.message}}
         </li>
     </ul> -->

    
     <!-- <v-btn  v-for="(item,index) in items" :key="index" color="success" @click="display(item.message)">{{item.message}}</v-btn> -->
    <v-form>
    <v-container>
      <v-row>

        <v-col cols="12" sm="6">
          <v-text-field
            v-model="username"
            label="username"
            solo-inverted
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="6">
          <v-text-field
            v-model="password"
            label="password"
            type="password"
            solo-inverted
           
          ></v-text-field>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
  <v-btn color="success" @click="display">login</v-btn>
    
    

</div>


</template>

<script>
import { METHODS } from 'http'
export default {
 data () {
   return {
       username: '',
       passwor: '',
     data: 'Hello this is my world',
     data2: 'Apinya Thatpaibool  NO.62522',
     data3: "I'm beliebers  JB5 will comeback",
     show: false,
     show2: false,
     show3: false,
     items:[
         {message: 'apinya'},
         {message: 'beliebers'},
         {message: 'pinya'}
     ]

   }
 },
 methods:{
     display(){
         alert('hello  '+this.username+'  and password  '+this.password)
     }
 }
}
</script>


