<template>
  
    <v-container class="grey lighten-5" >
       <v-parallax
    height="300"
    src="/image/parallax.jpg"
  ></v-parallax>
    <!-- ใส่ text -->

    <h1 class="text-center font " style="
    margin-top: 10px;
">Restaurant</h1>

        <v-row>
            <v-col
                cols="12"
                md="8">
                <v-card
                  class="pa-2">
        <v-img
          height="350"
          src="/image/p1.jpg"></v-img> 


        <v-card-title class="font-a">ติ่มซำ</v-card-title>
         <v-card-text>
        

      <div class="my-4 subtitle-1 black--text font-a">
       ร้านเทียน เทียน
      </div>
      <div class="font-a" style=" font-size: large;">ติ่มซำเป็นอาหารว่างหรืออาหารเรียกน้ำย่อยของจีน นิยมรับประทานกับน้ำชา (หยำฉ่า 飲茶 ว่า ดื่มน้ำชา เสิร์ฟพร้อมติ่มซำ) ที่เป็นที่รู้จักกันทั่วโลก เป็นคำเรียกรวมอาหารหลายอย่าง มักเป็นอาหารจำพวกปรุงด้วยการนึ่ง เช่น ขนมจีบ, ซาลาเปา, ฮะเก๋า, เกี๊ยวซ่า เป็นต้น บรรจุในภาชนะขนาดเล็ก เช่น เข่งไม้ไผ่ หรือจานใบเล็ก</div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>
    <v-card-text class="font">
        Rating
       <v-row align="center">
        <v-rating
          :value="4.5"
          color="amber"
          half-increments
          dense
          size=""
          readonly
        ></v-rating>
        <div class="grey--text ml-4 font">4.5 </div>
      </v-row>
    </v-card-text>
  </v-card>
          </v-col>

      <!-- colที่2 ภาพเล็ก -->
            <v-col
                cols="6"
                md="4"
            >
                 <v-card>
        <v-container fluid>
          <v-row>
            <v-col
              v-for="n in 9"
              :key="n"
              class="d-flex child-flex"
              cols="4"
            >
              <v-card flat tile class="d-flex">
                <v-img
                  :src="`/image/${n}.jpg`"
                  :lazy-src="`/image/${n}.jpg`"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
      
      <v-col
        cols="12" 
        style="margin-top: 30px;
    padding: initial;" 
      >
        <v-card>
             <v-card-title class="font-a">ร้านอาหารที่น่าสนใจ</v-card-title>
        <v-container fluid style="
    padding-bottom: 0px;
">
          <v-row>
                <v-img 
               height="120"
                  src="/image/R.jpg"
                >
                </v-img>
           

          </v-row>
        </v-container>
        </v-card>


      </v-col>
      </v-col>

      <!-- ปิดภาพเล็ก -->
                <v-col
                cols="12"
                md="8">
                <v-card
                  class="pa-2">
        <v-img
          height="350"
          src="/image/c1.jpg"></v-img> 


        <v-card-title class="font-a">chocolate and cocoa</v-card-title>
         <v-card-text>
        

      <div class="my-4 subtitle-1 black--text font-a">
       ร้าน --
      </div>

      <div class="font-a" style=" font-size: large;">ที่จริงแล้วช็อกโกแลตกับโกโก้นั้นต่างก็ทำมาจากเมล็ดของต้นกาเกา (Cacao) หรือที่เราเรียกกันติดปากว่าโกโก้ (Cocoa) เหมือนกัน ซึ่งเมล็ดโกโก้นี้จะมีรสขมมาก</div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>
    <v-card-text class="font">
        Rating
       <v-row align="center">
        <v-rating
          :value="5"
          color="amber"
          half-increments
          dense
          size=""
          readonly
        ></v-rating>
        <div class="grey--text ml-4 font">5 </div>
      </v-row>
    </v-card-text>
  </v-card>
          </v-col>
 <!-- ปิดอาหาร / -->
<!-- เปิด map -->

          <v-col
                cols="6"
                md="4"
            >
            <v-card>
             <v-card-title class="font-a">ค้นหาจากแผนที่</v-card-title>
        <v-container fluid style="
    padding-bottom: 0px;
">
          <v-row>
                <v-img
                high="100"
                width="100"
                  src="/image/map.jpg"
                >
                <div class="bt-map">
                <div class="text-center" >
                   <v-flex justify-center>
                       <v-btn large color="error">map</v-btn>
                  </v-flex>
                </div>
                 </div>

                </v-img>
           

          </v-row>
        </v-container>
      </v-card>
      </v-col>



        </v-row>  
        <!-- จบ -->
        

    </v-container>
</template>
<style>
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');
.font{
  font-family: 'Domine', serif;
}
.font-a{
  font-family: 'Itim', cursive;
}
.bt-map {
    text-align: center !important;
    margin-top: 70px;
}
</style>