<template>
  <v-dialog v-model="dialog" max-width="500px">
    <v-card>
      <v-card-title>
        <span class="headline">{{ formTitle }}</span>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field v-model="editedItem.firstname" label="firstname"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="editedItem.lastname" label="lastname"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.tel" label="tel"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field @keyup.enter="save" v-model="editedItem.lineid" label="lineid"></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text  @click="close">Cancel</v-btn>
        <v-btn color="blue darken-1" text @click="save">save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { EventBus } from '@/EventBus'
export default {
  data () {
    return {
      dialog: false,
      formTitle: '',
      editedItem: {
        firstname: '',
        lastname: '',
        tel: '',
        lineid: '',
      },
      action: ''
    }
  },
  mounted () {
    EventBus.$on('newItem', this.newItem)
    EventBus.$on('editItem', this.editItem)
  },
  methods: {
    close () {
      this.dialog = false
    },
    newItem () {
      this.formTitle = 'New Item'
      this.action = 'newItem'
      this.dialog = true
    },
    editItem (item) {        
      this.formTitle = 'Edit Item'
      this.action = 'editItem'
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    async save () {
      if(this.action === 'newItem') {
        try {
          var {data} = await this.axios.post('http://labkk.ga:3000/person', {
           firstname: this.editedItem.firstname,
           lastname: this.editedItem.lastname,
           tel: this.editedItem.tel,
           lineid: this.editedItem.lineid 
          })
          console.log(data)
          EventBus.$emit('getData')
          this.dialog = false
        }catch (error) {
          console.log(error.message)
        }
      }
      else if(this.action === 'editItem') {
     try {
        var {data} = await this.axios.put('http://labkk.ga:3000/person/'+ this.editedItem._id , this.editedItem)
          console.log('editedItem:',this.editedItem,'DATA: ',data)
          EventBus.$emit('getData')
          this.dialog = false
        } catch (error) {
            console.log(error.message)
        }
      }
    }
  }
}
</script>
