<template>
<div >
    <v-app-bar app class="nav">
      
      <v-toolbar-title class="headline text-uppercase">
          <v-btn
        color="#ffff"
        text
        href="http://localhost:8080/movie/"    
      >
        <span>Movie</span>
         </v-btn>
        
        
      </v-toolbar-title>


       <v-btn
        color="#ffff"
        text
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
      >
        <span class="mr-2">REVIEW</span>
      </v-btn>
      <v-btn
       color="#ffff"
        text
        href="http://localhost:8080/movie/addMovie"
        
      >
        <span class="mr-2">ADD MOVIE</span>
      </v-btn>
      <v-spacer></v-spacer>


      <!-- <v-btn
        text
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
      >
        <span class="mr-2">Latest Release</span>
      </v-btn> -->
    </v-app-bar>
    <v-content>
      <router-view/>
    </v-content>
  </div>
</template>
<style>
.nav{
/* background: linear-gradient(90deg,#2f66cd,#4db0db 75%,#5ab6de); */
background: linear-gradient(90deg,#000000 ,#24292f,75%,#cc638f);
color: #ffff;
}


</style>